.btn {
  background: var(--silver-color);
  padding: 0.7em 1.2em;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: var(--primary-color);
  border-radius: 2px;
}

.btn--header {
  position: absolute;
  right: 60px;
  margin-top: -10px;
}

.btn--contact {
  margin-top: 30px;
}