footer {
  background: var(--dark-color);
  display: flex;
  justify-content: space-around;
  padding: 45px 20px;
  color: #DCC484;
  text-align: center;
}

footer p {
  color: rgb(199, 199, 199);
}

.footer-hr {
  background: var(--silver-color);
  border: none;
  height: 2px;
}

.gold-hr {
  background: repeating-linear-gradient(200deg, #cfc09f 22%,#cfc09f 25%, #cfc09f 27%,#ffecb3 40%,#79550e 78%, #cfc09f 100%);
  border: none;
  height: 3px;
}

.link {
  color: var(--silver-color);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: rgb(216, 216, 216);
}