.hero-banner {
  background-image: linear-gradient(to right, var(--primary-color), var(--primary-color) 50%, #2E4662 50%, #2E4662);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--silver-color);
  height: 100vh;
  position: relative;
}

.hero-banner__container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.hero-banner__heading {
  font-size: 4rem;
  color: white;
  position: relative;
  left: 4px;
}

.hero-banner__sub-heading {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

/* Scroll Icon */

.hero-banner__scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  bottom: 20px;
  animation: scroll 0.8s infinite alternate;
  animation-timing-function: ease;
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 0.6em;
  width: 0.4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
  transform: scale(0.8);
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #FFF;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.8em;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 1em;
}

@keyframes scroll {
  0% {transform: translate(-50%, -20%)}
  100% {opacity: 1; transform: translate(-50%, 10%)}
}