.hero-banner {
  background-color: #2E4662;
  /* background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat; */
  color: var(--silver-color);
  height: 100vh;
  position: relative;
}

.hero-banner-outer-container {
  position: relative;
  height: 100vh;
}

.hero-banner__container {
  position: absolute;
  text-align: center;
  width: 95%;
  margin: auto;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.hero-banner__heading {
  font-size: 4rem;
  color: white;
}

.hero-banner__sub-heading {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

/* Scroll Icon */

.hero-banner__scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  bottom: 20px;
  animation: scroll 0.8s infinite alternate;
  animation-timing-function: ease;
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 0.6em;
  width: 0.4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
  transform: scale(0.8);
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #FFF;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.8em;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 1em;
}

.disappear-animation {
  animation: 1s disappear forwards 1 ease;
}

.appear-animation {
  animation: 0.7s disappear reverse 1 ease-in;
}

@keyframes scroll {
  0% {transform: translate(-50%, -20%)}
  100% {opacity: 1; transform: translate(-50%, 10%)}
}

@keyframes disappear {
  0% {opacity: 1; transform: translateY(0%)}
  100% {opacity: 0; transform: translateY(-10%)}
}

@media (max-width: 550px) {
  .hero-banner__heading {
    font-size: 3.2rem;
  }
  .hero-banner__sub-heading {
    font-size: 1.2rem;
  }
}

@media (max-width: 490px) {
  .hero-banner {
    height: 80vh;
  }
  .hero-banner-outer-container {
    height: 80vh;
  }
  .scroll-icon {
    transform: scale(0.7);
  }
}