.navbar {
  position: absolute;
  width: 100%;
  padding: 25px;
  z-index: 10;
}

.navbar-link-list {
  display: flex;
  color: var(--silver-color);
  justify-content: center;
}

.navbar-item {
  margin: 0px 20px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  padding: 0px 10px 20px;
  color: var(--silver-color);
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%) scaleX(0);
  width: 80%;
  height: 3px;
  background: var(--secondary-color);
  transition: transform 0.3s;
}

.nav-btn:hover::after {
  transform: translateX(-50%) scaleX(1);
}


@media (max-width: 550px) {
  .navbar-link-list {
    justify-content: space-around;
  }
  .navbar-item {
    margin: 0px 5px;
  }
  .nav-btn {
    font-size: 1.05rem;
  }
}

@media (max-width: 490px) {
  .navbar {
    display: none;
  }
}